<a href="https://colab.research.google.com/github/ladkrutarth/Assignment_2/blob/main/Assignment_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Import Libaray

In [541]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## Import DataSet

In [542]:
data = pd.read_csv('train.csv')

df = pd.DataFrame(data)

df.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13 km/kg,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08 kmpl,1461 CC,63.1 bhp,5.0,NaN,3.50

## Exploratory Data Analysis  & Data Cleaning

In [543]:
data.shape

(5847, 14)

In [544]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5847 entries, 0 to 5846
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         5847 non-null   int64
 1   Name               5847 non-null   object
 2   Location           5847 non-null   object
 3   Year               5847 non-null   int64
 4   Kilometers_Driven  5847 non-null   int64
 5   Fuel_Type          5847 non-null   object
 6   Transmission       5847 non-null   object
 7   Owner_Type         5847 non-null   object
 8   Mileage            5845 non-null   object
 9   Engine             5811 non-null   object
 10  Power              5811 non-null   object
 11  Seats              5809 non-null   float64
 12  New_Price          815 non-null    object
 13  Price              5847 non-null   float64
dtypes: float64(2), int64(3), object(9)
memory usage: 639.6+ KB

In [545]:
for col in data.columns:
    print(f"Unique values in column '{col}':")
    print(data[col].unique())
    print("-" * 20)

Unique values in column 'Unnamed: 0':
[   1    2    3 ... 6016 6017 6018]
--------------------
Unique values in column 'Name':
['Hyundai Creta 1.6 CRDi SX Option' 'Honda Jazz V' 'Maruti Ertiga VDI' ...
 'Volkswagen Polo IPL II 1.2 Petrol Highline' 'Tata Bolt Revotron XT'
 'Mahindra Xylo D4 BSIV']
--------------------
Unique values in column 'Location':
['Pune' 'Chennai' 'Coimbatore' 'Jaipur' 'Mumbai' 'Kochi' 'Kolkata' 'Delhi'
 'Bangalore' 'Hyderabad' 'Ahmedabad']
--------------------
Unique values in column 'Year':
[2015 2011 2012 2013 2016 2018 2014 2017 2010 2007 2009 2008 2019 2006
 2004 2002 2000 2005 2003 1999 2001 1998]
--------------------
Unique values in column 'Kilometers_Driven':
[41000 46000 87000 ... 45004 70602 27365]
--------------------
Unique values in column 'Fuel_Type':
['Diesel' 'Petrol' 'Electric']
--------------------
Unique values in column 'Transmission':
['Manual' 'Automatic']
--------------------
Unique values in column 'Owner_Type':
['First' 'Second' 'Fourth & Above' 'Third']
--------------------
Unique values in column 'Mileage':
['19.67 kmpl' '13 km/kg' '20.77 kmpl' '15.2 kmpl' '23.08 kmpl'
 '11.36 kmpl' '20.54 kmpl' '22.3 kmpl' '21.56 kmpl' '16.8 kmpl'
 '25.2 kmpl' '12.7 kmpl' '0.0 kmpl' '13.5 kmpl' '25.8 kmpl' '28.4 kmpl'
 '20.45 kmpl' '14.84 kmpl' '22.69 kmpl' '23.65 kmpl' '13.53 kmpl'
 '18.5 kmpl' '14.4 kmpl' '16.48 km/kg' '20.92 kmpl' '17.5 kmpl'
 '12.8 kmpl' '19.01 kmpl' '14.53 kmpl' '11.18 kmpl' '12.4 kmpl'
 '16.09 kmpl' '14.0 kmpl' '24.3 kmpl' '18.15 kmpl' '11.74 kmpl'
 '22.07 kmpl' '19.7 kmpl' '25.4 kmpl' '25.32 kmpl' '14.62 kmpl'
 '14.28 kmpl' '14.9 kmpl' '11.25 kmpl' '24.4 kmpl' '16.55 kmpl'
 '17.11 kmpl' '22.9 kmpl' '17.8 kmpl' '18.9 kmpl' '15.04 kmpl'
 '25.17 kmpl' '20.36 kmpl' '9.49 km/kg' '18.2 kmpl' '13.68 kmpl'
 '20.0 kmpl' '15.8 kmpl' '25.0 kmpl' '16.4 kmpl' '24.52 kmpl' '22.1 kmpl'
 '8.5 kmpl' '15.1 kmpl' '16.95 kmpl' '19.64 kmpl' '16.5 kmpl' '18.53 kmpl'
 '17.57 kmpl' '18.0 kmpl' '23.2 kmpl' '16.73 kmpl' '13.0 kmpl'
 '17.68 kmpl' '22.7 kmpl' '16.2 kmpl' '15.26 kmpl' '23.0 kmpl'
 '19.83 kmpl' '14.94 kmpl' '17.0 kmpl' '17.71 kmpl' '14.74 kmpl'
 '16.0 kmpl' '22.32 kmpl' '12.99 kmpl' '23.3 kmpl' '19.15 kmpl'
 '10.8 kmpl' '15.0 kmpl' '22.0 kmpl' '21.9 kmpl' '12.05 kmpl' '11.7 kmpl'
 '21.21 kmpl' '20.73 kmpl' '21.1 kmpl' '24.07 kmpl' '19.0 kmpl'
 '20.58 kmpl' '19.27 kmpl' '11.5 kmpl' '18.6 kmpl' '21.14 kmpl'
 '11.05 kmpl' '21.76 kmpl' '7.81 kmpl' '21.66 kmpl' '17.2 kmpl'
 '20.63 kmpl' '19.4 kmpl' '14.8 kmpl' '26.0 kmpl' '20.4 kmpl' '21.5 kmpl'
 '15.3 kmpl' '17.9 kmpl' '16.6 kmpl' '22.54 kmpl' '25.44 kmpl' '13.7 kmpl'
 '22.48 kmpl' '12.9 kmpl' '19.98 kmpl' '21.4 kmpl' '19.81 kmpl'
 '15.4 kmpl' '25.47 kmpl' '19.87 kmpl' '17.45 kmpl' '14.7 kmpl'
 '15.64 kmpl' '15.73 kmpl' '23.59 kmpl' '16.1 kmpl' '27.4 kmpl'
 '20.46 kmpl' '15.29 kmpl' '20.51 kmpl' '11.8 kmpl' '14.3 kmpl'
 '14.67 kmpl' '17.19 kmpl' '21.03 kmpl' '22.5 kmpl' '16.82 kmpl'
 '11.72 kmpl' '17.4 kmpl' '17.05 kmpl' '24.0 kmpl' '28.09 kmpl'
 '20.5 kmpl' '13.1 kmpl' '19.91 kmpl' '18.7 kmpl' '16.38 kmpl'
 '11.57 kmpl' '17.3 kmpl' '22.95 kmpl' '18.88 kmpl' '23.4 kmpl'
 '22.74 kmpl' '12.07 kmpl' '17.1 kmpl' '18.48 kmpl' '16.47 kmpl'
 '23.1 kmpl' '14.07 kmpl' '16.02 kmpl' '19.3 kmpl' '17.7 kmpl' '9.52 kmpl'
 '14.75 kmpl' '11.3 kmpl' '21.12 kmpl' '21.02 kmpl' '14.45 kmpl'
 '19.33 kmpl' '13.8 kmpl' '24.7 kmpl' '11.0 kmpl' '11.07 kmpl'
 '21.43 kmpl' '14.21 kmpl' '18.86 kmpl' '16.07 kmpl' '13.49 kmpl'
 '20.38 kmpl' '12.0 kmpl' '17.01 kmpl' '13.2 kmpl' '20.37 kmpl'
 '15.96 kmpl' '14.16 kmpl' '13.17 kmpl' '27.62 kmpl' '25.1 kmpl'
 '15.17 kmpl' '11.33 kmpl' '17.92 kmpl' '12.55 kmpl' '12.6 kmpl'
 '17.72 kmpl' '18.16 kmpl' '15.68 kmpl' '15.5 kmpl' '12.1 kmpl'
 '14.83 kmpl' '17.6 kmpl' '14.6 kmpl' '14.66 kmpl' '10.93 kmpl'
 '20.68 kmpl' '9.9 kmpl' '21.13 kmpl' '20.14 kmpl' '19.2 kmpl' '27.3 kmpl'
 '16.36 kmpl' '26.59 kmpl' '12.5 kmpl' '13.6 kmpl' '15.06 kmpl'
 '10.13 kmpl' '17.21 kmpl' '15.97 kmpl' '10.5 kmpl' '14.69 kmpl'
 '23.9 kmpl' '19.1 kmpl' '21.27 kmpl' '15.9 kmpl' '20.7 kmpl' '14.1 kmpl'
 '20.89 kmpl' '18.12 kmpl' '12.3 kmpl' '19.71 kmpl' '9.43 kmpl'
 '13.4 kmpl' '13.14 kmpl' '18.1 kmpl' '22.77 kmpl' '14.49 kmpl'
 '12.39 kmpl' '10.91 kmpl' '20.85 kmpl' '15.63 kmpl' '27.39 kmpl'
 '18.3 kmpl' '16.78 kmpl' '25.5 kmpl' '10.0 kmpl' '13.73 kmpl' '24.2 kmpl'
 '14.02 kmpl' '16.77 kmpl' '24.5 kmpl' '20.34 kmpl' '21.7 kmpl' '9.7 kmpl'
 '14.33 kmpl' '21.64 kmpl' '19.16 kmpl' '16.93 kmpl' '16.3 kmpl'
 '12.62 kmpl' '20.64 kmpl' '14.24 kmpl' '18.06 kmpl' '10.2 kmpl'
 '10.1 kmpl' '18.25 kmpl' '13.93 kmpl' '25.83 kmpl' '8.6 kmpl'
 '13.24 kmpl' '17.09 kmpl' '23.84 kmpl' '8.45 kmpl' '19.6 kmpl'
 '19.5 kmpl' '20.3 kmpl' '16.05 kmpl' '11.2 kmpl' '27.03 kmpl'
 '18.78 kmpl' '12.35 kmpl' '14.59 kmpl' '17.32 kmpl' '14.95 kmpl'
 '13.22 kmpl' '23.03 kmpl' '15.6 kmpl' '19.12 kmpl' '10.98 kmpl'
 '16.46 kmpl' '18.4 kmpl' '11.1 kmpl' '13.01 kmpl' '18.8 kmpl'
 '16.52 kmpl' '18.44 kmpl' '19.49 kmpl' '23.5 kmpl' '23.8 kmpl'
 '12.65 kmpl' '20.65 kmpl' '21.72 kmpl' '12.19 kmpl' '26.1 kmpl'
 '18.33 kmpl' '12.81 kmpl' '17.06 kmpl' '17.67 kmpl' '19.34 kmpl'
 '8.3 kmpl' '16.96 kmpl' '11.79 kmpl' '20.86 kmpl' '16.98 kmpl'
 '11.68 kmpl' '15.74 kmpl' '15.7 kmpl' '18.49 kmpl' '10.9 kmpl'
 '19.59 kmpl' '11.4 kmpl' '13.06 kmpl' '21.0 kmpl' '15.15 kmpl'
 '16.9 kmpl' '18.23 kmpl' '17.16 kmpl' '17.43 kmpl' '19.08 kmpl'
 '18.56 kmpl' '11.9 kmpl' '21.79 kmpl' '12.95 kmpl' '9.0 kmpl' '25.6 kmpl'
 '26.21 kmpl' '13.58 kmpl' '16.25 kmpl' '10.4 kmpl' '17.44 kmpl'
 '22.71 kmpl' '17.54 kmpl' '15.87 kmpl' '9.5 kmpl' '11.56 kmpl'
 '14.39 kmpl' '19.09 kmpl' '17.85 kmpl' '18.18 kmpl' '21.19 kmpl'
 '21.8 kmpl' '15.42 kmpl' '14.47 kmpl' '19.69 kmpl' '12.83 kmpl'
 '8.0 kmpl' '12.63 kmpl' '14.57 kmpl' '27.28 kmpl' '15.41 kmpl'
 '18.19 kmpl' '13.33 kmpl' '16.7 kmpl' '17.84 kmpl' '23.19 kmpl'
 '11.49 kmpl' '18.51 kmpl' '13.44 kmpl' '8.7 kmpl' '8.77 kmpl'
 '17.97 kmpl' '23.57 kmpl' '12.37 kmpl' '12.51 kmpl' '19.44 kmpl'
 '21.38 kmpl' '16.51 kmpl' '24.8 kmpl' '14.42 kmpl' '26.8 kmpl'
 '24.04 kmpl' '9.8 kmpl' '19.68 kmpl' '21.2 kmpl' '19.72 kmpl' '14.2 kmpl'
 '12.98 kmpl' '23.01 kmpl' '16.12 kmpl' '9.3 kmpl' '15.85 kmpl' nan
 '17.88 kmpl' '10.6 kmpl' '11.78 kmpl' '7.94 kmpl' '25.01 kmpl' '8.1 kmpl'
 '13.9 kmpl' '11.62 kmpl' '20.62 kmpl' '15.11 kmpl' '10.37 kmpl'
 '18.59 kmpl' '9.74 kmpl' '14.81 kmpl' '8.2 kmpl' '12.97 kmpl' '7.5 kmpl'
 '6.4 kmpl' '12.85 kmpl' '18.69 kmpl' '17.24 kmpl']
--------------------
Unique values in column 'Engine':
['1582 CC' '1199 CC' '1248 CC' '1968 CC' '1461 CC' '2755 CC' '1598 CC'
 '1462 CC' '1497 CC' '2179 CC' '2477 CC' '1498 CC' '2143 CC' '1995 CC'
 '1984 CC' '1197 CC' '998 CC' '2494 CC' '1798 CC' '2696 CC' '2698 CC'
 '1061 CC' '1198 CC' '2987 CC' '796 CC' '624 CC' '1999 CC' '1991 CC'
 '2694 CC' '1120 CC' '2498 CC' '799 CC' '2393 CC' '1399 CC' '1796 CC'
 '2148 CC' '1396 CC' '1950 CC' '4806 CC' '1998 CC' '1193 CC' '2982 CC'
 '1493 CC' '2967 CC' '2993 CC' '1196 CC' '1799 CC' '2497 CC' '2354 CC'
 '1373 CC' '2996 CC' '1591 CC' '2894 CC' '5461 CC' '814 CC' '1595 CC'
 '936 CC' '1086 CC' '1997 CC' nan '1896 CC' '1390 CC' '1364 CC' '2199 CC'
 '993 CC' '999 CC' '1405 CC' '2956 CC' '1794 CC' '995 CC' '2496 CC'
 '1599 CC' '2400 CC' '1495 CC' '2523 CC' '793 CC' '4134 CC' '1395 CC'
 '2953 CC' '1586 CC' '2362 CC' '1496 CC' '1368 CC' '1298 CC' '1956 CC'
 '1299 CC' '3498 CC' '2835 CC' '1150 CC' '3198 CC' '1343 CC' '1499 CC'
 '1186 CC' '1590 CC' '2609 CC' '2499 CC' '2446 CC' '1978 CC' '2360 CC'
 '2198 CC' '4367 CC' '2706 CC' '1422 CC' '2979 CC' '1969 CC' '1489 CC'
 '2489 CC' '1388 CC' '1172 CC' '2495 CC' '1596 CC' '1194 CC' '3200 CC'
 '1781 CC' '1341 CC' '2773 CC' '3597 CC' '1985 CC' '2147 CC' '1047 CC'
 '2999 CC' '2995 CC' '2997 CC' '1948 CC' '2359 CC' '4395 CC' '2720 CC'
 '1468 CC' '2487 CC' '1597 CC' '2771 CC' '72 CC' '4951 CC' '2925 CC'
 '2200 CC' '5000 CC' '2149 CC' '5998 CC' '2092 CC' '5204 CC' '1797 CC']
--------------------
Unique values in column 'Power':
['126.2 bhp' '88.7 bhp' '88.76 bhp' '140.8 bhp' '63.1 bhp' '171.5 bhp'
 '103.6 bhp' '74 bhp' '103.25 bhp' '116.3 bhp' '187.7 bhp' '115 bhp'
 '175.56 bhp' '98.6 bhp' '83.8 bhp' '167.62 bhp' '190 bhp' '88.5 bhp'
 '177.01 bhp' '80 bhp' '67.1 bhp' '102 bhp' '108.45 bhp' '138.1 bhp'
 '184 bhp' '179.5 bhp' '103.5 bhp' '64 bhp' '82 bhp' '254.8 bhp'
 '73.9 bhp' '46.3 bhp' '37.5 bhp' '77 bhp' '82.9 bhp' '149.92 bhp'
 '138.03 bhp' '112.2 bhp' '163.7 bhp' '71 bhp' '105 bhp' '174.33 bhp'
 '75 bhp' '103.2 bhp' '53.3 bhp' '78.9 bhp' '147.6 bhp' '147.8 bhp'
 '68 bhp' '186 bhp' '170 bhp' '69 bhp' '140 bhp' '78 bhp' '194 bhp'
 '500 bhp' '108.5 bhp' '86.8 bhp' '187.74 bhp' '132 bhp' '86.7 bhp'
 '73.94 bhp' '117.3 bhp' '218 bhp' '168.5 bhp' '89.84 bhp' '110 bhp'
 '90 bhp' '82.85 bhp' '67 bhp' '241.4 bhp' '35 bhp' '270.9 bhp'
 '126.32 bhp' '73 bhp' '130 bhp' '100.6 bhp' '150 bhp' '75.94 bhp'
 '215 bhp' '107.3 bhp' '37.48 bhp' '120 bhp' '178 bhp' '152 bhp'
 '91.1 bhp' '85.80 bhp' '362.07 bhp' '121.3 bhp' '143 bhp' '81.80 bhp'
 '171 bhp' '76.8 bhp' '103.52 bhp' '444 bhp' '362.9 bhp' '55.2 bhp'
 '67.06 bhp' '120.7 bhp' '258 bhp' '81.86 bhp' '112 bhp' '88.73 bhp'
 '57.6 bhp' '157.75 bhp' '102.5 bhp' '201.1 bhp' '83.1 bhp' '68.05 bhp'
 '88.50 bhp' nan '106 bhp' '100 bhp' '81.83 bhp' '85 bhp' '64.1 bhp'
 '177.5 bhp' '246.7 bhp' '177.46 bhp' '65 bhp' '67.04 bhp' '189.08 bhp'
 '99 bhp' '53.5 bhp' '194.3 bhp' '70 bhp' '183 bhp' '254.79 bhp'
 '66.1 bhp' '76 bhp' '60 bhp' '123.24 bhp' '47.3 bhp' '118 bhp' '88.8 bhp'
 '177 bhp' '136 bhp' '201.15 bhp' '93.7 bhp' '177.6 bhp' '313 bhp'
 '245 bhp' '125 bhp' '141 bhp' '227 bhp' '62 bhp' '141.1 bhp' '83.14 bhp'
 '192 bhp' '67.05 bhp' '47 bhp' '235 bhp' '37 bhp' '87.2 bhp' '203 bhp'
 '204 bhp' '246.74 bhp' '122 bhp' '282 bhp' '181 bhp' '224 bhp' '94 bhp'
 '367 bhp' '98.79 bhp' '62.1 bhp' '174.3 bhp' '114 bhp' '335.2 bhp'
 '169 bhp' '191.34 bhp' '108.49 bhp' '138.02 bhp' '156 bhp' '187.4 bhp'
 '66 bhp' '103.3 bhp' '164.7 bhp' '79.4 bhp' '198.5 bhp' '154 bhp'
 '73.8 bhp' '181.43 bhp' '85.8 bhp' '207.8 bhp' '108.4 bhp' '88 bhp'
 '63 bhp' '82.5 bhp' '364.9 bhp' '107.2 bhp' '113.98 bhp' '126.3 bhp'
 '185 bhp' '237.4 bhp' '99.6 bhp' '66.7 bhp' '160 bhp' '306 bhp'
 '98.59 bhp' '92.7 bhp' '147.51 bhp' '197.2 bhp' '167.6 bhp' '165 bhp'
 '110.4 bhp' '73.97 bhp' '147.9 bhp' '116.6 bhp' '148 bhp' '34.2 bhp'
 '155 bhp' '197 bhp' '108.62 bhp' '118.3 bhp' '241.38 bhp' '153.86 bhp'
 '163.5 bhp' '226.6 bhp' '84.8 bhp' '53.64 bhp' '158.2 bhp' '69.01 bhp'
 '181.03 bhp' '104.68 bhp' '126.24 bhp' '73.75 bhp' '158 bhp' '130.2 bhp'
 '97.7 bhp' '121.4 bhp' '98.96 bhp' '174.5 bhp' '308 bhp' '121.36 bhp'
 '138 bhp' '265 bhp' '84 bhp' '321 bhp' '91.72 bhp' '65.3 bhp' '88.2 bhp'
 '93 bhp' '35.5 bhp' '86.79 bhp' '157.7 bhp' '91.7 bhp' '180 bhp'
 '114.4 bhp' '158.8 bhp' '157.8 bhp' '123.7 bhp' '56.3 bhp' '189 bhp'
 '104 bhp' '210 bhp' '270.88 bhp' '142 bhp' '255 bhp' '236 bhp'
 '167.7 bhp' '148.31 bhp' '138.08 bhp' '250 bhp' '74.9 bhp' '91.2 bhp'
 '102.57 bhp' '97.6 bhp' '102.53 bhp' '240 bhp' '254 bhp' '112.4 bhp'
 '73.74 bhp' '108.495 bhp' '116.9 bhp' '101 bhp' '320 bhp' '70.02 bhp'
 '261.49 bhp' '105.5 bhp' '550 bhp' '168.7 bhp' '94.68 bhp' '152.88 bhp'
 '163.2 bhp' '203.2 bhp' '241 bhp' '95 bhp' '200 bhp' '271.23 bhp'
 '63.12 bhp' '308.43 bhp' '118.6 bhp' '199.3 bhp' '83.83 bhp' '55 bhp'
 '83 bhp' '300 bhp' '201 bhp' '262.6 bhp' '163 bhp' '86.76 bhp' '76.9 bhp'
 '174.57 bhp' '301.73 bhp' '68.1 bhp' '162 bhp' '394.3 bhp' '147.5 bhp'
 '272 bhp' '340 bhp' '120.33 bhp' '82.4 bhp' '231.1 bhp' '335.3 bhp'
 '333 bhp' '198.25 bhp' '224.34 bhp' '402 bhp' '261 bhp' '61 bhp'
 '144 bhp' '71.01 bhp' '271.72 bhp' '134 bhp' '135.1 bhp' '92 bhp'
 '64.08 bhp' '261.5 bhp' '123.37 bhp' '175.67 bhp' '53 bhp' '110.5 bhp'
 '178.4 bhp' '193.1 bhp' '41 bhp' '395 bhp' '48.21 bhp' '450 bhp'
 '421 bhp' '89.75 bhp' '387.3 bhp' '130.3 bhp' '281.61 bhp' '52.8 bhp'
 '139.01 bhp' '208 bhp' '503 bhp' '168 bhp' '98.82 bhp' '139.07 bhp'
 '83.11 bhp' '74.93 bhp' '382 bhp' '74.96 bhp' '552 bhp' '127 bhp'
 '560 bhp' '116.4 bhp' '161.6 bhp' '488.1 bhp' '103 bhp' '181.04 bhp']
--------------------
Unique values in column 'Seats':
[ 5.  7.  8.  4.  6.  2. nan 10.  9.]
--------------------
Unique values in column 'New_Price':
[nan '8.61 Lakh' '21 Lakh' '10.65 Lakh' '32.01 Lakh' '47.87 Lakh'
 '10.57 Lakh' '12.33 Lakh' '11.12 Lakh' '23.64 Lakh' '18.64 Lakh'
 '19.34 Lakh' '49.14 Lakh' '11.81 Lakh' '16.65 Lakh' '6.67 Lakh'
 '6.45 Lakh' '6.41 Lakh' '27 Lakh' '5.13 Lakh' '54.43 Lakh' '9.51 Lakh'
 '9.96 Lakh' '14.44 Lakh' '4.53 Lakh' '95.04 Lakh' '13.49 Lakh' '1.28 Cr'
 '60.88 Lakh' '7.39 Lakh' '69.47 Lakh' '8.78 Lakh' '12.74 Lakh'
 '10.52 Lakh' '11.98 Lakh' '8.54 Lakh' '33.58 Lakh' '9.12 Lakh'
 '5.29 Lakh' '44.28 Lakh' '20.74 Lakh' '11.74 Lakh' '25.52 Lakh'
 '14.07 Lakh' '95.13 Lakh' '8.34 Lakh' '8.85 Lakh' '25.4 Lakh'
 '16.67 Lakh' '79.43 Lakh' '6.62 Lakh' '1.04 Cr' '58.67 Lakh' '28.37 Lakh'
 '4.48 Lakh' '72.64 Lakh' '36.15 Lakh' '44.59 Lakh' '12 Lakh' '14.65 Lakh'
 '53.72 Lakh' '33.91 Lakh' '12.51 Lakh' '9.74 Lakh' '95.38 Lakh'
 '60.59 Lakh' '11.28 Lakh' '11.48 Lakh' '11.26 Lakh' '43.65 Lakh'
 '62.07 Lakh' '86.97 Lakh' '1 Cr' '4.74 Lakh' '14.84 Lakh' '49.49 Lakh'
 '48.18 Lakh' '12.34 Lakh' '15.38 Lakh' '19.21 Lakh' '22.95 Lakh'
 '11.15 Lakh' '10.32 Lakh' '28.05 Lakh' '59.77 Lakh' '15.86 Lakh'
 '19.43 Lakh' '42.12 Lakh' '16.95 Lakh' '15.45 Lakh' '7.87 Lakh'
 '4.7 Lakh' '15.02 Lakh' '12.56 Lakh' '11.33 Lakh' '26.45 Lakh'
 '10.34 Lakh' '7.46 Lakh' '11.85 Lakh' '10.41 Lakh' '5.57 Lakh'
 '42.48 Lakh' '16.04 Lakh' '9.1 Lakh' '7.65 Lakh' '13.74 Lakh' '5.72 Lakh'
 '21.33 Lakh' '78.76 Lakh' '4.29 Lakh' '10.04 Lakh' '11.67 Lakh'
 '8.56 Lakh' '4.78 Lakh' '6.14 Lakh' '7.3 Lakh' '4.37 Lakh' '4.98 Lakh'
 '15.29 Lakh' '24.26 Lakh' '75.12 Lakh' '9.53 Lakh' '34.6 Lakh'
 '52.26 Lakh' '70.43 Lakh' '4.8 Lakh' '12.12 Lakh' '19.37 Lakh'
 '12.14 Lakh' '36.69 Lakh' '23.68 Lakh' '55.61 Lakh' '14.1 Lakh'
 '13.26 Lakh' '11.27 Lakh' '11.2 Lakh' '9.46 Lakh' '12.79 Lakh'
 '15.57 Lakh' '19.86 Lakh' '6.59 Lakh' '6.54 Lakh' '26.56 Lakh'
 '15.05 Lakh' '11.01 Lakh' '11 Lakh' '7.55 Lakh' '7.82 Lakh' '6.32 Lakh'
 '15.14 Lakh' '15.72 Lakh' '45.67 Lakh' '54.7 Lakh' '22.87 Lakh'
 '6.74 Lakh' '33.09 Lakh' '23.25 Lakh' '19.27 Lakh' '52.77 Lakh'
 '7.92 Lakh' '7.85 Lakh' '15.55 Lakh' '32.45 Lakh' '4.83 Lakh' '7.13 Lakh'
 '71.82 Lakh' '50.97 Lakh' '10.73 Lakh' '9.5 Lakh' '52.46 Lakh'
 '6.07 Lakh' '4.33 Lakh' '8.63 Lakh' '6.68 Lakh' '7.98 Lakh' '24.82 Lakh'
 '7.63 Lakh' '22.86 Lakh' '11.06 Lakh' '19.39 Lakh' '21.77 Lakh'
 '18.35 Lakh' '9.19 Lakh' '8.09 Lakh' '1.39 Cr' '11.52 Lakh' '13.23 Lakh'
 '10.06 Lakh' '15.34 Lakh' '24.01 Lakh' '11.39 Lakh' '9.79 Lakh' '35 Lakh'
 '9.26 Lakh' '8.68 Lakh' '66.39 Lakh' '36.45 Lakh' '91.38 Lakh'
 '53.41 Lakh' '4.59 Lakh' '67.87 Lakh' '9.44 Lakh' '48.64 Lakh'
 '11.69 Lakh' '11.11 Lakh' '6.33 Lakh' '8.1 Lakh' '6.4 Lakh' '7.59 Lakh'
 '7 Lakh' '7.43 Lakh' '22.43 Lakh' '24.02 Lakh' '21.69 Lakh' '34.63 Lakh'
 '43.31 Lakh' '4.71 Lakh' '1.02 Cr' '6.71 Lakh' '34.45 Lakh' '8.58 Lakh'
 '12.67 Lakh' '11.89 Lakh' '10.48 Lakh' '13.59 Lakh' '11.02 Lakh'
 '41.94 Lakh' '8.94 Lakh' '21.38 Lakh' '12.88 Lakh' '8.27 Lakh'
 '7.37 Lakh' '7.33 Lakh' '23.06 Lakh' '1.4 Cr' '22.46 Lakh' '7.69 Lakh'
 '9.4 Lakh' '6.08 Lakh' '8.36 Lakh' '1.06 Cr' '71.15 Lakh' '6.82 Lakh'
 '8.12 Lakh' '9.78 Lakh' '7.36 Lakh' '38.11 Lakh' '11.75 Lakh' '8.44 Lakh'
 '16.06 Lakh' '6.63 Lakh' '1.27 Cr' '39.6 Lakh' '10.91 Lakh' '25.75 Lakh'
 '5.61 Lakh' '8.05 Lakh' '8.82 Lakh' '17.38 Lakh' '5.69 Lakh' '37.51 Lakh'
 '5.88 Lakh' '63.71 Lakh' '11.47 Lakh' '37.46 Lakh' '7.88 Lakh'
 '11.37 Lakh' '11.3 Lakh' '92.5 Lakh' '15.06 Lakh' '39.57 Lakh'
 '13.7 Lakh' '11.16 Lakh' '9.47 Lakh' '10.17 Lakh' '8.17 Lakh' '9.58 Lakh'
 '9.14 Lakh' '64.14 Lakh' '16.36 Lakh' '37.38 Lakh' '22.74 Lakh'
 '33.36 Lakh' '70.55 Lakh' '1.13 Cr' '45.36 Lakh' '10.13 Lakh'
 '14.22 Lakh' '11.77 Lakh' '4.05 Lakh' '26.95 Lakh' '4.82 Lakh'
 '7.17 Lakh' '13.58 Lakh' '9.09 Lakh' '4.09 Lakh' '6.83 Lakh' '5.04 Lakh'
 '43.81 Lakh' '5.12 Lakh' '5.71 Lakh' '8.16 Lakh' '9.72 Lakh' '10.3 Lakh'
 '4.69 Lakh' '5.42 Lakh' '91.23 Lakh' '7.14 Lakh' '69.59 Lakh' '4.61 Lakh'
 '5.3 Lakh' '7.97 Lakh' '59.38 Lakh' '67.1 Lakh' '12.22 Lakh' '33.68 Lakh'
 '6.96 Lakh' '7.96 Lakh' '20.8 Lakh' '6.78 Lakh' '19.91 Lakh' '8.93 Lakh'
 '11.66 Lakh' '7.35 Lakh' '6.99 Lakh' '23.89 Lakh' '7.27 Lakh' '8.84 Lakh'
 '22.37 Lakh' '12.02 Lakh' '3.95 Lakh' '48.79 Lakh' '11.29 Lakh' '1.36 Cr'
 '6.23 Lakh' '47.16 Lakh' '41.98 Lakh' '35.29 Lakh' '7.91 Lakh'
 '5.51 Lakh' '20.97 Lakh' '34.89 Lakh' '16.4 Lakh' '1.66 Cr' '14.67 Lakh'
 '12.57 Lakh' '9.48 Lakh' '8.95 Lakh' '23.19 Lakh' '8.24 Lakh' '8.71 Lakh'
 '44.75 Lakh' '87.57 Lakh' '8.57 Lakh' '7.56 Lakh' '43.07 Lakh'
 '7.83 Lakh' '6 Lakh' '13.76 Lakh' '14.11 Lakh' '12.47 Lakh' '6.51 Lakh'
 '7.52 Lakh' '15.68 Lakh' '7.45 Lakh' '20.48 Lakh' '15.17 Lakh'
 '8.13 Lakh' '8.79 Lakh' '14.72 Lakh' '25.54 Lakh' '16.84 Lakh'
 '8.28 Lakh' '23.94 Lakh' '69.37 Lakh' '9.04 Lakh' '55.07 Lakh'
 '10.97 Lakh' '21.72 Lakh' '4.9 Lakh' '10.1 Lakh' '12.53 Lakh'
 '20.87 Lakh' '5.9 Lakh' '64.57 Lakh' '17.21 Lakh' '6.56 Lakh' '47.2 Lakh'
 '10.14 Lakh' '1.6 Cr' '5.44 Lakh' '26.55 Lakh' '8.26 Lakh' '4.5 Lakh'
 '56.97 Lakh' '11.19 Lakh' '13.33 Lakh' '8.75 Lakh' '21.1 Lakh'
 '10.28 Lakh' '11.56 Lakh' '27.07 Lakh' '4.36 Lakh' '10.81 Lakh'
 '8.55 Lakh' '22.66 Lakh' '4.24 Lakh' '41.02 Lakh' '17 Lakh' '2.3 Cr'
 '10.89 Lakh' '40.62 Lakh' '7.54 Lakh' '30.19 Lakh' '5.56 Lakh'
 '4.43 Lakh' '37.17 Lakh' '12.9 Lakh' '19.18 Lakh' '10.99 Lakh'
 '12.23 Lakh' '11.63 Lakh' '12.27 Lakh' '3.91 Lakh' '44.8 Lakh'
 '50.4 Lakh' '4.04 Lakh' '11.96 Lakh' '11.44 Lakh' '24.63 Lakh'
 '50.26 Lakh' '13.72 Lakh' '23.14 Lakh' '6.29 Lakh' '8.18 Lakh'
 '7.48 Lakh' '83.92 Lakh' '36.94 Lakh' '13.6 Lakh' '10.7 Lakh' '4.87 Lakh'
 '92.79 Lakh' '5.8 Lakh' '62.11 Lakh' '10.83 Lakh' '11.05 Lakh'
 '9.99 Lakh' '14.32 Lakh' '6.21 Lakh' '74.49 Lakh' '8.03 Lakh' '1.71 Cr'
 '37.9 Lakh' '32.54 Lakh' '11.71 Lakh' '3.98 Lakh' '4.55 Lakh' '8.8 Lakh'
 '11.13 Lakh' '11.58 Lakh' '10.63 Lakh' '12.68 Lakh' '17.7 Lakh'
 '14.23 Lakh' '9.62 Lakh' '53.14 Lakh' '8.91 Lakh' '10.26 Lakh'
 '6.94 Lakh' '15.59 Lakh' '78.31 Lakh' '42.89 Lakh' '9.56 Lakh'
 '64.76 Lakh' '99.92 Lakh' '69.22 Lakh' '18.45 Lakh' '9.89 Lakh'
 '7.94 Lakh' '8.73 Lakh' '8.69 Lakh' '42.4 Lakh' '23.37 Lakh' '79.78 Lakh'
 '16.6 Lakh' '4.93 Lakh' '14.2 Lakh' '10.42 Lakh' '9.55 Lakh' '5.45 Lakh'
 '8.38 Lakh' '5.95 Lakh' '15.36 Lakh' '10.94 Lakh' '10.15 Lakh'
 '9.83 Lakh' '7.67 Lakh' '9.97 Lakh' '67.67 Lakh' '53.68 Lakh' '6.05 Lakh'
 '10.25 Lakh' '8.23 Lakh' '7.01 Lakh' '6.8 Lakh' '25.27 Lakh' '57.3 Lakh'
 '5.68 Lakh' '9.36 Lakh' '38.72 Lakh' '7.7 Lakh' '6.43 Lakh' '5.67 Lakh'
 '3.96 Lakh' '39.27 Lakh' '33.51 Lakh' '15.94 Lakh' '7.15 Lakh'
 '13.4 Lakh' '11.88 Lakh' '21.36 Lakh' '5.92 Lakh' '6.42 Lakh' '8.99 Lakh'
 '12.44 Lakh' '5.77 Lakh' '15.01 Lakh' '40.73 Lakh' '33.21 Lakh'
 '4.45 Lakh' '20.46 Lakh' '39.22 Lakh' '7.77 Lakh' '11.91 Lakh'
 '9.93 Lakh']
--------------------
Unique values in column 'Price':
[12.5   4.5   6.   ... 30.54 17.56  7.43]
--------------------

In [546]:
df.describe()

        Unnamed: 0         Year  Kilometers_Driven        Seats        Price
count  5847.000000  5847.000000       5.847000e+03  5809.000000  5847.000000
mean   3013.181461  2013.448435       5.841013e+04     5.286452     9.653742
std    1736.398890     3.194949       9.237971e+04     0.806668    11.275966
min       1.000000  1998.000000       1.710000e+02     2.000000     0.440000
25%    1509.500000  2012.000000       3.346750e+04     5.000000     3.550000
50%    3015.000000  2014.000000       5.257600e+04     5.000000     5.750000
75%    4517.500000  2016.000000       7.249050e+04     5.000000    10.250000
max    6018.000000  2019.000000       6.500000e+06    10.000000   160.000000

In [547]:
df.isnull().sum()

Unnamed: 0              0
Name                    0
Location                0
Year                    0
Kilometers_Driven       0
Fuel_Type               0
Transmission            0
Owner_Type              0
Mileage                 2
Engine                 36
Power                  36
Seats                  38
New_Price            5032
Price                   0
dtype: int64

In [548]:

# Remove units from attributes and rename columns
def remove_units(value):
    if isinstance(value, str):
        value = value.replace('kmpl', '').replace('CC', '').replace('bhp', '').replace('Lakh', '')
        return value
    return value

columns_to_convert = ['Mileage', 'Engine', 'Power']
for col in columns_to_convert:
    df[col] = df[col].apply(remove_units)


#Rename columns
df = df.rename(columns={'Mileage': 'Mileage_kmpl', 'Engine': 'Engine_CC', 'Power': 'Power_bhp'})

df.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage_kmpl,Engine_CC,Power_bhp,Seats,New_Price,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67,1582,126.2,5.0,NaN,12.50
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13 km/kg,1199,88.7,5.0,8.61 Lakh,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77,1248,88.76,7.0,NaN,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2,1968,140.8,5.0,NaN,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08,1461,63.1,5.0,NaN,3.50

In [549]:

def split_car_name(name):
    parts = name.split(' ', 1)  # Split at the first space
    if len(parts) == 2:
        company = parts[0]
        model = parts[1]
        return pd.Series({'Company': company, 'Car_Model': model})
    else:
        return pd.Series({'Company': np.nan, 'Car_Model': name}) # Handle cases with no space


# Apply the function to the 'Name' column
df[['Company', 'Car_Model']] = df['Name'].apply(split_car_name)
df.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage_kmpl,Engine_CC,Power_bhp,Seats,New_Price,Price,Company,Car_Model
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67,1582,126.2,5.0,NaN,12.50,Hyundai,Creta 1.6 CRDi SX Option
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13 km/kg,1199,88.7,5.0,8.61 Lakh,4.50,Honda,Jazz V
2,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77,1248,88.76,7.0,NaN,6.00,Maruti,Ertiga VDI
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2,1968,140.8,5.0,NaN,17.74,Audi,A4 New 2.0 TDI Multitronic
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08,1461,63.1,5.0,NaN,3.50,Nissan,Micra Diesel XV

In [550]:

import datetime

current_year = datetime.datetime.now().year

df['Car_Age'] = current_year - df['Year']


df.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage_kmpl,Engine_CC,Power_bhp,Seats,New_Price,Price,Company,Car_Model,Car_Age
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67,1582,126.2,5.0,NaN,12.50,Hyundai,Creta 1.6 CRDi SX Option,10
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13 km/kg,1199,88.7,5.0,8.61 Lakh,4.50,Honda,Jazz V,14
2,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77,1248,88.76,7.0,NaN,6.00,Maruti,Ertiga VDI,13
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2,1968,140.8,5.0,NaN,17.74,Audi,A4 New 2.0 TDI Multitronic,12
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08,1461,63.1,5.0,NaN,3.50,Nissan,Micra Diesel XV,12

In [551]:

cols = list(df.columns)
cols.insert(cols.index('Name') + 1, cols.pop(cols.index('Company')))
cols.insert(cols.index('Name') + 2, cols.pop(cols.index('Car_Model')))
df = df[cols]
df.drop('Name', axis=1, inplace=True)

df.head()

<ipython-input-551-01ad04305f34>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop('Name', axis=1, inplace=True)

,Unnamed: 0,Company,Car_Model,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage_kmpl,Engine_CC,Power_bhp,Seats,New_Price,Price,Car_Age
0,1,Hyundai,Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67,1582,126.2,5.0,NaN,12.50,10
1,2,Honda,Jazz V,Chennai,2011,46000,Petrol,Manual,First,13 km/kg,1199,88.7,5.0,8.61 Lakh,4.50,14
2,3,Maruti,Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77,1248,88.76,7.0,NaN,6.00,13
3,4,Audi,A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2,1968,140.8,5.0,NaN,17.74,12
4,6,Nissan,Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08,1461,63.1,5.0,NaN,3.50,12

In [552]:

# Assuming you want to move 'Car_Age' after 'Year'

cols = list(df.columns)
cols.insert(cols.index('Year') + 1, cols.pop(cols.index('Car_Age')))
df = df[cols]

df.head()

,Unnamed: 0,Company,Car_Model,Location,Year,Car_Age,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage_kmpl,Engine_CC,Power_bhp,Seats,New_Price,Price
0,1,Hyundai,Creta 1.6 CRDi SX Option,Pune,2015,10,41000,Diesel,Manual,First,19.67,1582,126.2,5.0,NaN,12.50
1,2,Honda,Jazz V,Chennai,2011,14,46000,Petrol,Manual,First,13 km/kg,1199,88.7,5.0,8.61 Lakh,4.50
2,3,Maruti,Ertiga VDI,Chennai,2012,13,87000,Diesel,Manual,First,20.77,1248,88.76,7.0,NaN,6.00
3,4,Audi,A4 New 2.0 TDI Multitronic,Coimbatore,2013,12,40670,Diesel,Automatic,Second,15.2,1968,140.8,5.0,NaN,17.74
4,6,Nissan,Micra Diesel XV,Jaipur,2013,12,86999,Diesel,Manual,First,23.08,1461,63.1,5.0,NaN,3.50

In [553]:

# Convert relevant columns to numeric, handling errors
for col in ['Mileage_kmpl', 'Engine_CC', 'Power_bhp', 'New_Price', 'Price']:
    df[col] = pd.to_numeric(df[col], errors='coerce')

In [554]:
df.isnull().sum()

Unnamed: 0              0
Company                 0
Car_Model               0
Location                0
Year                    0
Car_Age                 0
Kilometers_Driven       0
Fuel_Type               0
Transmission            0
Owner_Type              0
Mileage_kmpl            5
Engine_CC              36
Power_bhp              36
Seats                  38
New_Price            5847
Price                   0
dtype: int64




1.   Drop New Price col beacuse It has over 80 % values are null

In [555]:

# Assuming 'df' is your DataFrame from the previous code.
if 'New_Price' in df.columns:
  df = df.drop('New_Price', axis=1)

df.head()

,Unnamed: 0,Company,Car_Model,Location,Year,Car_Age,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage_kmpl,Engine_CC,Power_bhp,Seats,Price
0,1,Hyundai,Creta 1.6 CRDi SX Option,Pune,2015,10,41000,Diesel,Manual,First,19.67,1582.0,126.20,5.0,12.50
1,2,Honda,Jazz V,Chennai,2011,14,46000,Petrol,Manual,First,NaN,1199.0,88.70,5.0,4.50
2,3,Maruti,Ertiga VDI,Chennai,2012,13,87000,Diesel,Manual,First,20.77,1248.0,88.76,7.0,6.00
3,4,Audi,A4 New 2.0 TDI Multitronic,Coimbatore,2013,12,40670,Diesel,Automatic,Second,15.20,1968.0,140.80,5.0,17.74
4,6,Nissan,Micra Diesel XV,Jaipur,2013,12,86999,Diesel,Manual,First,23.08,1461.0,63.10,5.0,3.50



1. Col name: **[ Mileage_kmpl, Engine_CC, Power_bhp, Seats]**  number of nall value is less 20%. it replace by mean.

In [556]:

# Replace null values in numerical columns with the mean
numerical_cols = ['Mileage_kmpl', 'Engine_CC', 'Power_bhp', 'Seats']
for col in numerical_cols:
    if col in df.columns:  # Check if the column exists
        mean_val = df[col].mean()
        df[col].fillna(mean_val, inplace=True)

<ipython-input-556-7f227dc3aae2>:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(mean_val, inplace=True)

In [557]:
def convert_price(price_str):
    if isinstance(price_str, str):
        if 'Cr' in price_str:
            try:
                price_num = float(price_str.replace('Cr', ''))
                return price_num * 100  # 1 Cr = 100 Lakh
            except ValueError:
                return np.nan  # Handle cases where conversion fails
        elif 'Lakh' in price_str:
            try:
                return float(price_str.replace('Lakh', ''))
            except ValueError:
              return np.nan
        else:
            return price_str
    return price_str

# Change 'Price' to 'Price_Lakh' if 'Price' exists in the columns, otherwise use 'Price_Lakh'
# This ensures the code works whether 'Price' was renamed or not
col_to_convert = 'Price' if 'Price' in df.columns else 'Price_Lakh'
df[col_to_convert] = df[col_to_convert].apply(convert_price)

In [558]:

# Convert 'New_Price' and 'Price' columns to numeric, handling errors
def convert_to_numeric(value):
    try:
        return float(str(value).replace(' Lakh', '').replace(',', ''))
    except (ValueError, AttributeError):
        return np.nan  # Return NaN for non-numeric values

if 'Price' in df.columns:  # Check if the 'Price' column exists
    df['Price'] = df['Price'].apply(convert_to_numeric)

if 'Price' in df.columns:
    df = df.rename(columns={'Price': 'Price_Lakh'})

df.head()

,Unnamed: 0,Company,Car_Model,Location,Year,Car_Age,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage_kmpl,Engine_CC,Power_bhp,Seats,Price_Lakh
0,1,Hyundai,Creta 1.6 CRDi SX Option,Pune,2015,10,41000,Diesel,Manual,First,19.67000,1582.0,126.20,5.0,12.50
1,2,Honda,Jazz V,Chennai,2011,14,46000,Petrol,Manual,First,18.16115,1199.0,88.70,5.0,4.50
2,3,Maruti,Ertiga VDI,Chennai,2012,13,87000,Diesel,Manual,First,20.77000,1248.0,88.76,7.0,6.00
3,4,Audi,A4 New 2.0 TDI Multitronic,Coimbatore,2013,12,40670,Diesel,Automatic,Second,15.20000,1968.0,140.80,5.0,17.74
4,6,Nissan,Micra Diesel XV,Jaipur,2013,12,86999,Diesel,Manual,First,23.08000,1461.0,63.10,5.0,3.50

In [559]:

# Remove "km/kg" from the 'Mileage' column
df['Mileage_kmpl'] = df['Mileage_kmpl'].astype(str).str.replace('km/kg', '', regex=False)

In [560]:

# Convert 'Fuel_Type' and 'Transmission' to numerical representations
fuel_type_mapping = {'Diesel': 0, 'Petrol': 1, 'CNG': 2, 'LPG': 3}
transmission_mapping = {'Manual': 0, 'Automatic': 1}

df['Fuel_Type'] = df['Fuel_Type'].map(fuel_type_mapping)
df['Transmission'] = df['Transmission'].map(transmission_mapping)

df.head()

,Unnamed: 0,Company,Car_Model,Location,Year,Car_Age,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage_kmpl,Engine_CC,Power_bhp,Seats,Price_Lakh
0,1,Hyundai,Creta 1.6 CRDi SX Option,Pune,2015,10,41000,0.0,0,First,19.67,1582.0,126.20,5.0,12.50
1,2,Honda,Jazz V,Chennai,2011,14,46000,1.0,0,First,18.161150290996236,1199.0,88.70,5.0,4.50
2,3,Maruti,Ertiga VDI,Chennai,2012,13,87000,0.0,0,First,20.77,1248.0,88.76,7.0,6.00
3,4,Audi,A4 New 2.0 TDI Multitronic,Coimbatore,2013,12,40670,0.0,1,Second,15.2,1968.0,140.80,5.0,17.74
4,6,Nissan,Micra Diesel XV,Jaipur,2013,12,86999,0.0,0,First,23.08,1461.0,63.10,5.0,3.50

In [570]:
df_selected = df[['Company', 'Location', 'Year', 'Fuel_Type', 'Price_Lakh']]
df_selected.head()

   Company    Location  Year  Fuel_Type  Price_Lakh
0  Hyundai        Pune  2015        0.0       12.50
1    Honda     Chennai  2011        1.0        4.50
2   Maruti     Chennai  2012        0.0        6.00
3     Audi  Coimbatore  2013        0.0       17.74
4   Nissan      Jaipur  2013        0.0        3.50

In [567]:
df_filtered = df[(df['Year'] > 2014) & (df['Price_Lakh'] > 5)]

df_filtered

,Unnamed: 0,Company,Car_Model,Location,Year,Car_Age,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage_kmpl,Engine_CC,Power_bhp,Seats,Price_Lakh
0,1,Hyundai,Creta 1.6 CRDi SX Option,Pune,2015,10,41000,0.0,0,First,19.67,1582.0,126.20,5.0,12.50
5,7,Toyota,Innova Crysta 2.8 GX AT 8S,Mumbai,2016,9,36000,0.0,1,First,11.36,2755.0,171.50,8.0,17.50
8,10,Maruti,Ciaz Zeta,Kochi,2018,7,25692,1.0,0,First,21.56,1462.0,103.25,5.0,9.95
10,12,Maruti,Swift VDI BSIV,Jaipur,2015,10,64424,0.0,0,First,25.2,1248.0,74.00,5.0,5.60
14,16,Honda,Amaze S i-Dtech,Kochi,2016,9,58950,0.0,0,First,25.8,1498.0,98.60,5.0,5.40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5816,5987,Tata,Tiago 1.2 Revotron XT,Kochi,2017,8,15386,1.0,0,First,23.84,1199.0,84.00,5.0,5.11
5824,5995,Renault,Duster 85PS Diesel RxL Explore,Pune,2015,10,30000,0.0,0,First,19.87,1461.0,83.80,5.0,7.75
5825,5996,Jaguar,XF 2.2 Litre Luxury,Kochi,2016,9,31150,0.0,1,First,16.36,2179.0,187.70,5.0,30.54
5833,6005,Maruti,Vitara Brezza VDi,Pune,2016,9,37208,0.0,0,First,24.3,1248.0,88.50,5.0,7.43
5837,6009,Toyota,Camry Hybrid,Mumbai,2015,10,33500,1.0,1,First,19.16,2494.0,158.20,5.0,19.75

In [575]:
df_grouped = df.groupby('Fuel_Type').agg(
    Avg_Price=('Price_Lakh', 'mean'),
    Count=('Price_Lakh', 'count')
).reset_index()

df_grouped

   Fuel_Type  Avg_Price  Count
0        0.0  12.960686   3161
1        1.0   5.756688   2684